<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <link rel="shortcut icon" href="{{ "favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" href="{{ "/assets/css/just-the-docs.css" | relative_url }}">

  {% for stylesheet in page.css %}
  <link rel="stylesheet" href="{{ stylesheet | prepend:'/assets/css/' | append:'.css' | relative_url}}" type="text/css">
  {% endfor %}

  <link rel="stylesheet" href="{{ "/assets/css/print.css" | relative_url }}" media="print" type="text/css">

  <script type="text/javascript" src="{{ "/assets/js/vendor/lunr.min.js" | relative_url }}"></script>
  <script type="text/javascript" src="{{ "/assets/js/just-the-docs.js" | relative_url }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}
</head>
